secrets.yaml
known_devices.yaml
plex.conf
*.txt
*.xml
.cloud
.vscode
deps
tts
.HA_VERSION
.spotify*
.uuid
home-assistant*
*.sqlite

entity_registry.yaml

# Other
*.uuid
*.conf
*.db
*.db-journal
*.log
*.noload
*.txt
*.sqlite
*.xml
*.backup
.storage

